html, body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}
  
body {
  opacity:.6; 
}

#reset {
    position: relative;
    top:400px;
    left:125px;
    border:2.5px solid black;
    position: relative;
    border-radius: 12px;
    font-size: 17px;
}