html, body {
    height: 100%;
  }
  
body {
/* display: flex; */
/* margin: 0; */
/* This centers our sketch horizontally. */
/* justify-content: center; */

/* This centers our sketch vertically. */
/* align-items: center; */
/* position: relative;
right:50px; */
}

#reset {
    /* position: relative;
    top:200px;
    left:225px; */
    border:1.5px solid black;
    position: relative;
}